{% extends 'customers/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="right">
    <a href="{% url 'customer_add' %}"><h5 class="btn">Add a customer</h5></a>
  </div>

  <h5>Customers count: {{ count }}</h5>
  <table>
      <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Options</th>
        </tr>
      </thead>

      <tbody>
        {% for customer in customers %}
        <tr>
          <td>{{ customer.name }}</td>
          <td>{{ customer.customer_description|truncatechars:20 }}</td>
          <td><a href="{% url 'customer_detail' customer.pk %}">Details</a></td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}