{% extends 'customers/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <h5 class="center">Need to pay</h5>

  <table>
      <thead>
        <tr>
            <th>Name</th>
            <th>Tariff</th>
            <th>Options</th>
        </tr>
      </thead>

      <tbody>
        {% for pay in delayed_payment %}
        <tr class="red-text">
          <td>{{ pay.name }}</td>
          <td>{{ pay.tariff }}</td>
          <td><a href="{% url 'customer_detail' pay.pk %}">Details</a></td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}